In [1]:
import pandas as pd

In [2]:
data = pd.read_csv("adult_data.csv")
data.head()

   age         workclass  fnlwgt  ... hours-per-week  native-country salary
0   39         State-gov   77516  ...             40   United-States  <=50K
1   50  Self-emp-not-inc   83311  ...             13   United-States  <=50K
2   38           Private  215646  ...             40   United-States  <=50K
3   53           Private  234721  ...             40   United-States  <=50K
4   28           Private  338409  ...             40            Cuba  <=50K

[5 rows x 15 columns]

1. Сколько мужчин и женщин (признак sex) представлено в этом наборе данных?

In [3]:
f_data = data.loc[data["sex"] == "Female"]
m_data = data.loc[data["sex"] == "Male"]
m_data_shaped = m_data.shape[0]
f_data_shaped = f_data.shape[0]
print(m_data_shaped, f_data_shaped)

21790 10771

2. Каков средний возраст (признак age) женщин?

In [4]:
age = f_data["age"].mean()
print(age)

36.85823043357163

3. Какова доля граждан Германии (признак native-country)?

In [5]:
motherland = data.loc[data["native-country"] == "Germany"].shape[0]
motherland_shaped = data.shape[0]
total_motherland = motherland / motherland_shaped
print(total_motherland)

0.004207487485028101

4-5. Каковы средние значения и среднеквадратичные отклонения возраста тех, кто получает более 50K в год (признак salary) и тех, кто получает менее 50K в год?

In [6]:
rich = data.loc[data["salary"] == ">50K"]
poor = data.loc[data["salary"] == "<=50K"]
print(rich["age"].mean(),
poor["age"].mean(),
rich["age"].std(),
poor["age"].std())

44.24984058155847 36.78373786407767 10.51902771985177 14.020088490824813

6. Правда ли, что люди, которые получают больше 50k, имеют как минимум высшее образование?

In [7]:
educated = data.loc[data["education-num"].gt(11)]
wealthy = data.loc[data["salary"] == ">50K"].shape[0]
educated_and_wealthy = educated.loc[data["salary"] == ">50K"].shape[0]
print(educated_and_wealthy / wealthy)

0.532330059941334

7. Выведите статистику возраста для каждой расы (признак race) и каждого пола. Используйте groupby и describe. Найдите таким образом максимальный возраст мужчин расы Amer-Indian-Eskimo.

In [8]:
races = data.loc[data["race"] == "Amer-Indian-Eskimo"]
print(data.loc[data["age"]].describe())
max = races.groupby(["race"]).max()
print("Максимальный возраст мужчин расы Amer-Indian-Eskimo =", max.max()[0])

                age         fnlwgt  ...  capital-loss  hours-per-week
count  32561.000000   32561.000000  ...  32561.000000    32561.000000
mean      38.153312  205600.200393  ...    118.725285       42.199134
std       12.472491  117157.058286  ...    449.153178       11.074858
min       18.000000   28887.000000  ...      0.000000        2.000000
25%       25.000000  109832.000000  ...      0.000000       40.000000
50%       40.000000  191681.000000  ...      0.000000       40.000000
75%       48.000000  271466.000000  ...      0.000000       44.000000
max       79.000000  544091.000000  ...   2042.000000       80.000000

[8 rows x 6 columns]
Максимальный возраст мужчин расы Amer-Indian-Eskimo = 82

8. Среди кого больше доля зарабатывающих много (>50K): среди женатых или холостых мужчин (признак marital-status)? Женатыми считаем тех, у кого marital-status начинается с Married (Married-civ-spouse, Married-spouse-absent или Married-AF-spouse), остальных считаем холостыми.

In [9]:
rich["married"] = rich.apply(lambda row: "yes" if row["marital-status"].startswith("Married") else "no", axis=1)
more = rich.loc[rich["married"] == "yes"]
print("Женатых:", more.shape[0])
print("Холостых:", rich.shape[0] - more.shape[0])
#rich["mar"] = ["yes" if rich["marital-status"][i].startswith("Married") else "no" for i in rich.index.values]

Женатых: 6736
Холостых: 1105

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

9. Какое максимальное число часов человек работает в неделю (признак hours-per-week)? Сколько людей работают такое количество часов и каков среди них процент зарабатывающих много?

In [10]:
hours = data["hours-per-week"].max()
people_of_work = data.loc[data["hours-per-week"] == hours]
wealth_people_of_work = people_of_work.loc[data["salary"] == ">50K"]
print(wealth_people_of_work.shape[0] / people_of_work.shape[0] * 100, "%")

29.411764705882355 %

10. Посчитайте среднее время работы (hours-per-week) зарабатывающих мало и много (salary) для каждой страны (native-country).

In [58]:
#country_data = {country: data["native-country"].to_list().count(country) for country in set(data["native-country"])}
countries_by_rich = rich.groupby(["native-country"]).describe()
countries_by_rich["hours-per-week"]["mean"].sort_values()

native-country
Guatemala             36.666667
Nicaragua             37.500000
China                 38.900000
Poland                39.000000
Vietnam               39.200000
Puerto-Rico           39.416667
Laos                  40.000000
Peru                  40.000000
Cambodia              40.000000
Trinadad&Tobago       40.000000
Jamaica               41.100000
Portugal              41.500000
Cuba                  42.440000
Haiti                 42.750000
Philippines           43.032787
England               44.533333
Germany               44.977273
El-Salvador           45.000000
Hong                  45.000000
Italy                 45.400000
United-States         45.505369
?                     45.547945
Canada                45.641026
India                 46.475000
Mexico                46.575758
Scotland              46.666667
Taiwan                46.800000
Dominican-Republic    47.000000
Iran                  47.500000
Japan                 47.958333
Ireland               48.000000
Ecuador               48.750000
Yugoslavia            49.500000
Hungary               50.000000
Columbia              50.000000
Greece                50.625000
France                50.750000
South                 51.437500
Thailand              58.333333
Honduras              60.000000
Name: mean, dtype: float64

In [59]:
countries_by_poor = poor.groupby(["native-country"]).describe()
countries_by_poor["hours-per-week"]["mean"].sort_values()

native-country
Hungary                       31.300000
Taiwan                        33.774194
Honduras                      34.333333
Peru                          35.068966
El-Salvador                   36.030928
Nicaragua                     36.093750
Haiti                         36.325000
Trinadad&Tobago               37.058824
Vietnam                       37.193548
China                         37.381818
Canada                        37.914634
Cuba                          37.985714
Ecuador                       38.041667
Philippines                   38.065693
Poland                        38.166667
India                         38.233333
Jamaica                       38.239437
Puerto-Rico                   38.470588
Columbia                      38.684211
United-States                 38.799127
Germany                       39.139785
Hong                          39.142857
Guatemala                     39.360656
Scotland                      39.444444
Italy                         39.625000
Holand-Netherlands            40.000000
Mexico                        40.003279
South                         40.156250
?                             40.164760
Laos                          40.375000
England                       40.483333
Ireland                       40.947368
Japan                         41.000000
France                        41.058824
Cambodia                      41.416667
Iran                          41.440000
Yugoslavia                    41.600000
Greece                        41.809524
Outlying-US(Guam-USVI-etc)    41.857143
Portugal                      41.939394
Dominican-Republic            42.338235
Thailand                      42.866667
Name: mean, dtype: float64